<header>
    <nav class="header-nav">
        <a href="/" class="header-title">AlphaPicker</a>
        <ul>
            <li><a href="/user/cart">Cart</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </nav>
</header>