<div class="main">
    <div class="main-header"> 
        <div class="icon-container">
            <canvas id="icon" width="100" height="100"></canvas>
        </div>
    </div>
    <div class="content">
        <div class="general-info">
            <div class="wlc">Welcome to ALPHAPICKER</div>
            <div class="explain">Select what is below and you are set</div>
        </div>
        <form action="/search" method="POST">
            <div class="all">
                <div class="data-inputs">
                    <div class="detail">
                        <div class="inp-title"><label>Component</label></div>
                        <div class="select-box">
                            <div class="option-container">
                                <div class="option">
                                    <input id="cpu" type="radio" class="radio" name="cpu">
                                    <label for="cpu">CPU</label>
                                </div>
                                <div class="option">
                                    <input id="gpu" type="radio" class="radio" name="gpu">
                                    <label for="gpu">GPU</label>
                                </div>
                                <div class="option">
                                    <input id="ram" type="radio" class="radio" name="ram">
                                    <label for="ram">RAM</label>
                                </div>
                            </div>
                            <div class="selected">
                                Pick an item
                            </div>
                        </div>
                    </div>
                    <div class="detail-mid">
                        <div class="inp-title"><label>Region</label></div>
                        <div class="select-box">
                            <div class="option-container">
                                <div class="option">
                                    <input id="tn" type="radio" class="radio" name="region">
                                    <label for="tn">Tunisia</label>
                                </div>
                            </div>
                            <div class="selected">
                                Pick an item
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="inp-title-last"><label>Price</label></div>
                        <div class="money">
                            <input type="number" name="price" min="100" max="5000">
                        </div>
                    </div>    
                </div>
                <div class="btn-row">
                    <button class="btn-primary" type="submit">Search</button>
                </div>
            </div>       
        </form>
    </div>
</div>