<div class="main">
    <div class="main-header"> 
        <div class="icon-container" icon-url="../icons/ram.svg"></div>
    </div>
    <div class="content">
        <div class="general-info">
            <div class="wlc">Welcome to ALPHAPICKER</div>
            <div class="explain">Select what is below and you are set</div>
        </div>
            <div class="all">
                <div class="data-inputs">
                    <div class="detail">
                        <div class="inp-title"><label>Component</label></div>
                        <div class="select-box" tabindex="1">
                            <div class="option-container">
                                <div class="option">
                                    <input value ="cpu" id="cpu" type="radio" class="radio" name="comp">
                                    <label for="cpu">CPU</label>
                                </div>
                                <div class="option">
                                    <input value ="gpu" id="gpu" type="radio" class="radio" name="comp">
                                    <label for="gpu">GPU</label>
                                </div>
                                <div class="option">
                                    <input value ="ram" id="ram" type="radio" class="radio" name="comp">
                                    <label for="ram">RAM</label>
                                </div>
                            </div>
                            <div class="selected" id="comp"></div>
                        </div>
                    </div>
                    <div class="detail-mid">
                        <div class="inp-title"><label>Country</label></div>
                        <div class="select-box" tabindex="2">
                            <div class="option-container">
                                <div class="option">
                                    <input value="tunisia" id="tn" type="radio" class="radio" name="region">
                                    <label for="tn">Tunisia</label>
                                </div>
                            </div>
                            <div class="selected" id="region">Pick an item</div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="inp-title-last"><label>Budget</label></div>
                        <div class="money" money-content="?">
                            <input tabindex="3" type="number" name="price" id="price">
                        </div>
                    </div>    
                </div>
                <div class="btn-row">
                    <button class="btn-primary">Search</button>
                    <div class="spinner"></div>
                </div>
            </div>       
        </form>
    </div>
</div>

<div class="res" id="res" data-aos="zoom-in-down">
    <div class="general2">For your budget, we recommend:</div>
    <div class="won"></div>
    <div class="stored">available @<div class="link"></div></div>
    <div class="priced">for: <div class="cash"></div></div>
</div>
