@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
:root {
    font-family: 'Gotham Rounded';
    font-size: 20px;
    color: var(--clr-txt-light);
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, var(--clr-bck-dark), var(--clr-bck-light));
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
}

.main {
    max-width: 90%;
    color: white;
    background-color: hsl(0, 0%, 8%);
    box-shadow: 0 5px 10px white;
    border-radius: 5px;
    width: 900px;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.main-header {
    background-color: #222;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.icon-container {
    position: relative;
    top: 70px;
    padding: 20px;
    background-color: hsl(0, 0%, 8%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.wlc {
    font-size: 1.75rem;
    font-weight: bold;
    word-spacing: 0.45rem;;
}

.explain {
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 10px;
}

.data-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
    line-height: 0.8;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

.detail-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.inp-title {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    margin-bottom: 20px;
}

.inp-title-last {
    font-size: 2rem;
    font-weight: bold;
    flex-grow: 1;
    margin-bottom: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #222;
    background-image: none;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 200px;
    height: 40px;
    line-height: 2.8;
    overflow: hidden;
    border-radius: .25em;
    text-align: center;
}

select {
    flex: 1;
    padding: 0 1.75em;
    color: #fff;
    cursor: pointer;
}

.select::after {
    font-size: 15px;
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #000000;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

.select:hover::after {
    color: #222;
}

.btn-row {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-primary {
    outline: none;
    border: 1px solid white;
    padding: 10px 15px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.money input {
    width: 100px;
    height: 38px;
    background-color: #222;
    color: white;
    border: 0;
    border-radius: 0.25em;
    margin-top: 12px;
    font-size: 1.5em;
    text-align: center;
    outline: none;
}