
:root {
    --clr-base-hue: 0;
    --clr-base-sat: 0%;
    --clr-danger-hue-offset: 180;
    --clr-danger-hue: calc(var(--clr-base-hue) - var(--clr-danger-hue-offset));
    --clr-bck-dark: hsl(var(--clr-base-hue), var(--clr-base-sat), 8%);
    --clr-bck-light: hsl(var(--clr-base-hue), var(--clr-base-sat), 16%);
    --clr-txt-light: hsl(var(--clr-base-hue), var(--clr-base-sat), 87%);
    --pseudo-font: 20px;
    --pseudo-height: 1.5;
    --icon-url: url(../icons/cpu.svg);
}
